@use 'myGlobals';
@use 'myF';

.launch-filter-menu-button {
 @include myGlobals.source-sans;

  background-color: myF.color(primary);
  border: 1px solid myF.color(primary); /* note: added for accessibility, to provide a button border in high contrast mode */
  border-radius: 0;
  cursor: pointer;
  height: myGlobals.$buttonHeight;
  margin-bottom: myF.em(10);
  padding: myF.em(4) myF.em(12);
  font-size: 1rem;

  @media screen and (max-width: myF.bp(afl_small_just_before)) {
    font-size: 1.2rem;
  }

  &:hover,
  &:focus {
      box-shadow: inset 0 0 5px rgba(51,51,51,.6);
      background-color: myF.color(secondary);
  }

  &:disabled {
      color: #fff;
      cursor: not-allowed;
      opacity: .4;
  }
}

.filters__title {
  @include myGlobals.oswald;

  background-color: transparent;
  color: myF.color(dark-grey);
  font-size: 1.7rem;
  margin-bottom: myF.em(10, 20);
}

/* Filter menu styles */
.filter-menu {
  border: 0;
  font-size: 1.2rem;
  padding: 0;
  width: 100%;

  .panel-for-narrow-filter-header {
      background-color: #fff;
      padding: myF.em(12, 16) myF.em(14, 16) myF.em(8, 16);
  }

  .filter-menu-header-title {
      @include myGlobals.oswald;

      font-size: 1.4rem;
      letter-spacing: myF.em(.5, 18);
      text-align: center; /* center text within its flex container */

      @media screen and (max-width: myF.bp(thmda_wideenough_just_before)) {
          font-size: 1.6rem;
          text-align: left;
      }

      &:focus {
        outline: 0;
        text-decoration: underline;
      }
  }

  .panel--first { margin-top: myF.em(14, 16); }

  .filter-menu-top-level-button {
    @include myGlobals.oswald;

    background-color: myF.color(primary);
    border: 1px solid myF.color(primary); /* note: added for accessibility, to provide a button border in high contrast mode */
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    max-width: 6.25rem;
    height: myGlobals.$buttonHeight;
    letter-spacing: myF.em(.61);
    transition: box-shadow .15s ease-in-out;

    &:hover,
    &:focus {
        box-shadow: inset 0 0 5px rgba(51,51,51,.6);
        background-color: myF.color(secondary);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .4;
    }

    span {
        width: 100%;
    }

    @media screen and (min-width: myF.bp(thmda_narrow)) {
        font-size: 1.2rem;
        max-width: 9.75rem;
        height: myGlobals.$buttonHeight;
    }
  }

  .filter-menu-top-level-button.button-secondary {
    margin-right: myF.em(32);
  }

  .button-secondary {
    background: myF.color(secondary);
    border: 1px solid myF.color(secondary); /* note: added for accessibility, to provide a button border in high contrast mode */
  }

}

.filter-section {
  min-height: myGlobals.$buttonHeight;
  margin-bottom: myF.em(10, 16);

  .filter-select-parent {
    padding-left: 0.25em;
  }
}

.filter-section.panel-for-narrow-filter {
  margin-bottom: 0;
}

/* Last name active filter styles */
.last-name-filter .last-name-letter {
    border-radius: 0;
    height: myF.em(36);
    padding-bottom: myF.em(4);
    padding-top: myF.em(4);
    width: myF.em(36);
  }

/* For typically narrow view */
.panel-for-narrow-filter {
  padding: myF.em(9) 0;
}

.filter-section {
    min-height: myGlobals.$buttonHeight;
}

.filter-select-label {
  @include myGlobals.source-sans-semi-bold;

  color: myF.color(dark-grey);
  font-size: 1rem;
  line-height: 2rem;
  margin: 0;
}

.pad-top-a-bit {
  padding-top: 0.2em;
}

.filter-section-rg-item {
  @include myGlobals.oswald;
  background-color: #fff;
  border: 1px solid myF.color(primary);
  color: myF.color(primary);
  padding: myF.em(3) myF.em(3);
  text-transform: capitalize;
  font-size: 1.2rem;
  width: 100%;

  @media screen and (max-width: myF.bp(afl_medium_just_before)) {
    margin-bottom: myF.em(5);
  }

  &:hover {
    border: 1px solid myF.color(primary);
    background-color:  #fff;
    color: myF.color(secondary);
  }
}

.filter-section-rg-item.selected  {
    background-color: myF.color(primary);
    border: 1px solid myF.color(primary);
    color: #fff;
}

.filter-section-rg-item:focus {
  box-shadow: 0 0 0 3px myF.color(tertiary);
  outline: 3px solid transparent; /* For Windows high contrast mode. */
}

/* This style applies to both wide and narrow screens */
.filter-section-title {
  @include myGlobals.oswald;

  color: myF.color(dark-grey);
  font-size: 1.4rem;
  margin-bottom: myF.em(6, 16);
}

.filter-select-parent {
  @include myGlobals.oswald;
  margin: auto;

  background-color: myF.color(primary);
  border: 1px solid myF.color(primary); /* note: added for accessibility, to provide a border in high contrast mode */
  border-radius: 0;
  color: #fff;
  height: myGlobals.$buttonHeight; /* corresponds to 30px(42px) with 16px default */
  width: 100%;
  font-size: 1.2rem;

  padding-left: myF.em(8,16);
  padding-right: myF.em(8,16);

  /* Safari will "zoom in" on the select with font-size like this, so it needs more space.
     Rather than "fight it" and try to control Safari html-select element styling, give it the space
     to do what it is doing (at least for Safari 13 on mobile, works as of May 2020). */
  &:not(:root:root) {
    margin-left: myF.em(8);
  }

  @media screen and (min-width: myF.bp(afl_medium)) and (max-width: myF.bp(afl_large_just_before)) {
    padding-left: myF.em(12,16);
    padding-right: myF.em(12,16);
  }

  @media screen and (min-width: myF.bp(afl_large)) {
    padding-left: myF.em(16,16);
    padding-right: myF.em(16,16);
  }

  &:hover,
  &:focus {
    background-color: myF.color(secondary);
    color: #fff;
  }

  &.active {
    background-color: myF.color(primary);
    color: #fff;
  }
}

.filter-select-option {
  background-color:  #fff;
  color: black;
}

.filter-choice-set {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-choices {
  margin: myF.em(5);
  padding: 0;
  transition: color .2s ease-in-out;

  @media screen and (max-width: myF.bp(thmda_filterui_maxpt)) {
    line-height: 100%;
    margin-bottom: myF.em(12);
    text-align: left;
  }

  &:hover {
      color: myF.color(secondary);
  }
}

.filter-one-choice {
  @include myGlobals.source-sans-semi-bold;

  font-size: 1rem; /* must stay small because filters often squeezed into narrow filter panes */
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: myF.color(unchosen-shade);
  font-weight: normal;

  &.active {
      color: myF.color(primary);
  }

  &:hover {
      color: myF.color(secondary);
  }
}

.field-list-parent {
 @include myGlobals.source-sans;
  font-size: 1rem; /* must stay small because filters often squeezed into narrow filter panes */
  text-align: center;

  margin: auto;

  @media screen and (max-width: myF.bp(thmda_filterui_maxpt)) {
    text-align: left; /* accordion content on Topic Search page */
  }

  @media screen and (max-width: myF.bp(afl_medium_just_before)) {
    font-size: 1rem;
    word-break: break-word;
  }

  @media screen and (max-width: myF.bp(afl_small_just_before)) {
    font-size: myF.em(20);
  }
}

.filter--alphabet {
  border: 1px solid myF.color(ok-grey);
  color: myF.color(dark-grey);
  margin: myF.em(3);
  height: myF.em(30);
  width: myF.em(30);
  padding-bottom: myF.em(4);
  padding-top: myF.em(4);
  text-align: center;
  text-transform: uppercase;
  transition: border .2s ease-in-out;

  &:hover {
      border: 1px solid myF.color(dark-grey);
      color: myF.color(dark-grey);
  }

  @media screen and (max-width: myF.bp(afl_medium_just_before)) {
    margin: myF.em(5);
    height: myGlobals.$buttonHeight;
    width: $buttonHeight;
    padding-bottom: myF.em(10);
    padding-top: myF.em(10);
  }
}

.filters-applied {
  margin-bottom: myF.em(18);

  .filters-applied-title {
    @include myGlobals.oswald;

    color: myF.color(primary);
    letter-spacing: -.5px;
    padding: myF.em(3) 0;
  }

  .filters-applied-set {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  .filter-applied-container {
      margin-bottom: myF.em(10);

      &:hover {
          color: myF.color(secondary);
      }
  }

  .filter-remove-button {
      font-size: 1rem; /* must stay small because filters often squeezed into narrow filter panes */
      margin: 0;
      border: 0;
      background: transparent;
      color: myF.color(unchosen-shade);
      font-weight: normal;
      cursor: pointer;
      padding: 0;
      transition: color .2s ease-in-out;

      &.active {
          color: myF.color(primary);
      }

      &:hover {
          color: myF.color(secondary);
      }
  }

  .filter-remove-button:focus {
      color: myF.color(secondary);
      box-shadow: 0 0 0 3px myF.color(tertiary);
      /* NOTE: accessibility experts asked for this to be removed... outline: 3px solid transparent; -- For Windows high contrast mode */.
  }

  .applied-field-list-parent {
    @include myGlobals.source-sans-semi-bold;
    font-size: 1rem; /* must stay small because filters often squeezed into narrow filter panes */

    margin: auto;
    vertical-align: middle;
  }

  .remove-icon {
    height: 1.5rem;
    width: 1.5rem;
    @media screen and (min-width: myF.bp(afl_large)) {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
/* End of filters-applied */
