/* Helper classes
   --------------------------------------------------
   Classes to use for small, common tasks. If used in conjunction
   with other styles, please create a class and extend the placeholder. */
@use 'myGlobals';
@use 'myF';

.bold,
%bold { font-weight: 700; }

.italic,
%italic { font-style: italic; }

%list-without-styles,
.list-without-styles {
  list-style-type: none;
  padding: 0;
}

%mobile-only,
.mobile-only {
  @media screen and (min-width: myF.bp(afl_small)) {
    display: none !important;
  }
}

%desktop-only,
.desktop-only {
  width: 100%;

  @media screen and (max-width: myF.bp(afl_small_just_before)) {
    display: none !important;
  }
}
