<!-- CREDIT: greatly inspired by mat-video project, but without title, downloads, and a few other items;
see https://github.com/nkoehler/mat-video/blob/master/projects/mat-video/src/lib/video.component.html 
Updated April 2026 to have videoLoaded now be a signal (so videoLoaded() -- see .ts code for more info. -->
<!-- !!!TBD!!! NOTE: it is difficult to construct a control line that will resize in rem units while remaining on one line.
Yet, it is both aesthetically desirable and offers expected video control behavior to keep the controls aligned closely
to the video area itself, i.e., one line of controls, not multiple.  So, for the moment, sizing is done here with pixels
rather than rem units for the video control line, so one line of controls is kept for widths of video_controls_one_line pixels, i.e.,
myF.bp(video_controls_one_line), or greater.  -->
<div #thmplayer class="videoplayer" [class]="showMouseInUI() ? 'show-mouse' : 'hide-mouse'">
  <video
    #video
    class="video"
    [attr.autoplay]="defaultAutoPlay ? '' : null"
    playsinline=''
    [attr.poster]="poster ? poster : null"
    crossorigin="anonymous" preload="auto"
    >
    <source [src]="src()" type="video/mp4">
    @if (currentCCDisplayState && urlToCCIndicator && urlToCCIndicator.length > 0) {
      <track [src]="urlToCCIndicator"
        kind="subtitles" srclang="en" label="English"
        (cuechange)="handleCueChange($event)"
        default=''>
    }
    This browser does not support HTML5 video.
  </video>

  <!--   For typical views, controls will fit all on 1 line -->
  @if (videoLoaded()) {
    <div class="controls wider-video-controls-only">
      <div class="menu flexControlContainer">
        <div class="play-Container">
          <!-- NOTE: formerly tried to have a (EndOfMediaIssued)="actOnEndOfMedia()" on both uses of my-video-play-button, but see .ts file for why that was removed. -->
          <my-video-play-button (playChanged)="updatePlayingState($event)" [video]="video" [keyboard]="keyboard()"> </my-video-play-button>
        </div>
        <div class="playtime-Container">
          <p class="playtime">{{ currentTimeForUI() + ' / ' + currentDurationForUI() }}</p>
        </div>
        <div class="flexGrow">
          <!-- NOTE: only going to 99%, not 100%, to better support auto-chaining of video plays: if we went to 100%, that could auto-chain next
          video unexpectedly, but by only going to 99%, we will require that last 1% to play out for the auto-chaining to trigger for a better
          less surprising user experience -->
          <input type="range" min="0" max="99" step="1"
            aria-label="video progress bar" min="0" max="99"
            class="videoSlider" [value]="curTimePercent" (input)="notePercentIsInFlux()" (change)="newPositionAsPercent($event.target.value)"/>
          <!-- NOTE: mat-slider is NOT staying within the size of its div container - with or without a width attribute.
          As a result, we retired the use of mat-slider (or any Angular Material!) at all, starting with version 15, Feb. 2023+.
          <mat-slider aria-label="video progress bar" min="0" max="100" width="100%"
            step="1" class="videoSlider" #ngSlider><input matSliderThumb [value]="curTimePercent" (input)="notePercentIsInFlux()"
          #ngSliderThumb="matSliderThumb" (change)="newPositionAsPercent({source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value}.value)" /></mat-slider> -->
        </div>
        <div class="rewind-or-ffd-Container">
          <my-video-rewind-button (RewindIssued)="actOnRewind()"></my-video-rewind-button>
        </div>
        <div class="rewind-or-ffd-Container">
          <my-video-ffwd-button (FFwdIssued)="actOnFastForward()"></my-video-ffwd-button>
        </div>
        <div class="cc-Container">
          <my-video-cc-button (CCDisplayChanged)="updateCCDisplayState($event)" [video]="video" [CCshown]="currentCCDisplayState"> </my-video-cc-button>
        </div>
      </div>
    </div>
  }
  <!--   For very narrow views, controls will need to be on 2 lines -->
  @if (videoLoaded()) {
    <div class="controls-when-narrow narrow-video-controls-only">
      <div class="menu flexControlContainer">
        <div class="play-Container">
          <!-- NOTE: formerly tried to have a (EndOfMediaIssued)="actOnEndOfMedia()" on both uses of my-video-play-button, but see .ts file for why that was removed. -->
          <my-video-play-button (playChanged)="updatePlayingState($event)" [video]="video" [keyboard]="keyboard()"> </my-video-play-button>
        </div>
        <div class="playtime-Container">
          <p class="playtime">{{ currentTimeForUI() + ' / ' + currentDurationForUI() }}</p>
        </div>
        <div class="flexGrow">
          <!-- NOTE: only going to 99%, not 100%, to better support auto-chaining of video plays: if we went to 100%, that could auto-chain next
          video unexpectedly, but by only going to 99%, we will require that last 1% to play out for the auto-chaining to trigger for a better
          less surprising user experience -->
          <input type="range" min="0" max="99" step="1"
            aria-label="video progress bar" min="0" max="99"
            class="videoSlider" [value]="curTimePercent" (input)="notePercentIsInFlux()" (change)="newPositionAsPercent($event.target.value)"/>
          <!-- NOTE: mat-slider is NOT staying within the size of its div container - with or without a width attribute.
          As a result, we retired the use of mat-slider (or any Angular Material!) at all, starting with version 15, Feb. 2023+.
          <mat-slider aria-label="video progress bar" min="0" max="100" width="100%"
            step="1" class="videoSlider" #ngSlider><input matSliderThumb [value]="curTimePercent" (input)="notePercentIsInFlux()"
          #ngSliderThumb="matSliderThumb" (change)="newPositionAsPercent({source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value}.value)" /></mat-slider> -->
        </div>
      </div>
    </div>
  }
  @if (videoLoaded()) {
    <div class="controls-when-narrow narrow-video-controls-only">
      <div class="menu flexControlContainer">
        <div class="rewind-or-ffd-Container">
          <my-video-rewind-button (RewindIssued)="actOnRewind()"></my-video-rewind-button>
        </div>
        <div class="rewind-or-ffd-Container">
          <my-video-ffwd-button (FFwdIssued)="actOnFastForward()"></my-video-ffwd-button>
        </div>
        <div class="cc-Container">
          <my-video-cc-button (CCDisplayChanged)="updateCCDisplayState($event)" [video]="video" [CCshown]="currentCCDisplayState"> </my-video-cc-button>
        </div>
      </div>
    </div>
  }
  @if (currentCCDisplayState && urlToCCIndicator && urlToCCIndicator.length > 0) {
    <p class="sr-only">{{activeCCPiece}}</p>
  }
  <my-video-spinner [video]="video"></my-video-spinner>
</div>
