@use '../shared/theme/myF';
@use '../shared/theme/myGlobals';
@use '../shared/theme/helpers';
@use '../shared/theme/base';

.settingstext {
  font-size: 1rem;
  color: black;
  padding: 0 0.2em 0;

  @media screen and (min-width: myF.bp(afl_small)) {
      font-size: 1rem;
  }
}

.gap-a-bit {
  margin-bottom: 0.2em;
}
