<!-- Formerly, different looks at various widths. Now, breaks in style at 600 pixels (with afl_small == 600 in style sheets).
Under 600 is "video-narrow-view", 600+ via video-desktop-view.
-->
@if (myStory) {
  <div class="videoInfoContainer">
    <div class="titleRow">
      <h1 id="mmainHeader" [thdaIsFocused]="signalFocusToTitle" tabindex="-1" class="page-title-video-page video-narrow-view" (mousedown)="noMouseFocus($event)">{{storyDetailsTitle}}</h1>
      <h1 id="dmainHeader" [thdaIsFocused]="signalFocusToTitle" tabindex="-1" class="page-title-video-page video-desktop-view" (mousedown)="noMouseFocus($event)">{{storyDetailsTitle}}</h1>
    </div>
    <div class="myStoryRow">
      <!--Video Content-->
      <div class="myStoryVideoContent">
        <!-- Button Bar appears next beneath title but ONLY when in video-desktop-view! -->
        <div class="title-buttons-area video-desktop-view">
          <div class="limitButtonRowWidth ">
            <!-- NOTE: horizontal sizing just like container for videoContents! -->
            <div class="myStoryButtonRow">
              <div class="button-bar-piece">
                <button class="back-button-low-key-video-line" (click)="goBack($event)">
                  <!-- Extra visual decoration, not needing svg-title nor sr-only text descriptor as we will have " Back" for the button -->
                  <svg aria-hidden="true" class="back-chevron-icon" viewBox="0 0 12 20" xmlns="http://www.w3.org/2000/svg">
                    <title>
                      Go back to the previous page
                    </title>
                    <g fill="#FFF" fill-rule="nonzero">
                      <path d="M10 0L0 10l10 10 1.494662-1.494662L2.989324 10l8.505338-8.505338"/>
                    </g>
                  </svg>
                  <span class="flexGrow">Back</span>
                </button>
              </div>
              <div class="button-bar-piece">
                <button class="myclips-add-delete-low-key-video-line" (click)="toggleAddToMyClips()">
                  @if (storyInMyClips) {
                    <span class="spaceForWordyLabel">Remove from My Clips</span>
                  }
                  @if (storyInMyClips) {
                    <span class="needTightLabel">Remove</span>
                  }
                  <!-- Extra visual decoration, not needing svg-title nor sr-only text descriptor as we already have "Remove from My Clips" for the button -->
                  @if (storyInMyClips) {
                    <svg aria-hidden="true" class="myclips-delete-icon" width="15" height="15" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                      <title>
                        Remove story from My Clips
                      </title>
                      <g fill="#FFF" fill-rule="evenodd">
                        <path d="M15 0C6.716 0 0 6.716 0 15c0 8.284 6.716 15 15 15 3.978 0 7.794-1.58 10.607-4.393C28.42 22.794 30 18.977 30 15c0-8.284-6.716-15-15-15zm0 2.57c3.297 0 6.46 1.308 8.79 3.64 2.332 2.33 3.64 5.493 3.64 8.79 0 3.297-1.308 6.46-3.64 8.79-2.33 2.332-5.493 3.64-8.79 3.64-3.297 0-6.46-1.308-8.79-3.64-2.332-2.33-3.64-5.493-3.64-8.79 0-3.297 1.308-6.46 3.64-8.79C8.54 3.878 11.703 2.57 15 2.57z" fill-rule="nonzero"/>
                        <path d="M9 14h12v2H9z"/>
                      </g>
                    </svg>
                  }
                  @if (!storyInMyClips) {
                    <span class="flexGrow">Add to My Clips</span>
                  }
                  <!-- Extra visual decoration, not needing svg-title nor sr-only text descriptor as we already have "Add to My Clips" for the button -->
                  @if (!storyInMyClips) {
                    <svg aria-hidden="true" class="myclips-add-icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                      <title>
                        Add story to My Clips
                      </title>
                      <path d="M8 0C3.582 0 0 3.582 0 8s3.582 8 8 8c2.122 0 4.157-.843 5.657-2.343S16 10.122 16 8c0-4.418-3.582-8-8-8zm0 1.37c1.758 0 3.445.7 4.688 1.942C13.93 4.555 14.63 6.242 14.63 8c0 1.758-.7 3.445-1.942 4.688C11.445 13.93 9.758 14.63 8 14.63c-1.758 0-3.445-.7-4.688-1.942C2.07 11.445 1.37 9.758 1.37 8c0-1.758.7-3.445 1.942-4.688C4.555 2.07 6.242 1.37 8 1.37zm-.365 2.333c-.216 0-.39.174-.39.39v3.152H4.093c-.216 0-.39.174-.39.39v.73c0 .216.174.39.39.39h3.152v3.152c0 .216.174.39.39.39h.73c.216 0 .39-.174.39-.39V8.755h3.152c.216 0 .39-.174.39-.39v-.73c0-.216-.174-.39-.39-.39H8.755V4.093c0-.216-.174-.39-.39-.39h-.73z" fill-rule="nonzero" fill="#FFF"/>
                    </svg>
                  }
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="contentRow">
          <div class="videoColumn">
            <div class="videoContents">
              <h2 class="sr-only">Video Player</h2>
              <!-- NOTE: it is a cleaner load - play - load - play ... sequencing experience when chaining stories
              if the poster is not tuned per story as with poster="{{myMediaBase}}story/image/{{myStory.storyID}}"
              but is instead just a solid black asset.
              (The backgroundPoster has sizes of either 320x180 or 320x240 dependent on the aspect ratio
              of the content myStory (which is 320x240 for early interviews, and 320x180 for current ones.)
              TRYING TO BRING BACK POSTER: clean advance is just poster="{{backgroundPoster}}""
              and weak advance with some visual artifacts but also with actual poster and not just black area,
              is poster="{{myMediaBase}}story/image/{{myStory.storyID}}" ...choosing the latter option. -->
              <my-video #myVideoPlayer
                src="{{myMediaBase}}story/video/{{myStory.storyID}}"
                initialSeek="{{initialSeekInSeconds}}"
                [urlToCCIndicator]="calcVTTName(myStory.storyID)"
                (timeChange)="adjustVideoCurrentTime()"
                (mediaEndIssued)="autoAdvanceToNext()"
                (playStartedFirstTime)="logStoryPlay()"
                poster="{{myMediaBase}}story/image/{{myStory.storyID}}">
              </my-video>
            </div>
            <!-- Prev and Next match buttons -->
            @if (storyHasMatches) {
              <div class="match">
                <div class="match__prev">
                  <button class="match__prev-button" (click)="gotoPrevMatch()">
                    <!-- Extra visual decoration, not needing svg-title nor sr-only text descriptor as we will have "Previous Match" for the button -->
                    <svg class="markVeryThin" aria-hidden="true" width="8" height="14" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
                      <title>
                        Previous Match
                      </title>
                      <path d="M7 0L0 7l7 7 1.046-1.046L2.093 7l5.953-5.954" fill-rule="nonzero" fill="currentColor"/>
                    </svg>
                    <span class="match__copy">Previous Match</span>
                  </button>
                </div>
                <div class="match__tick-line">
                  @for (oneMatch of videoMatches; track oneMatch) {
                    <div class="match__tick"
                    [style.left.%]=oneMatch.percentOffset></div>
                  }
                </div>
                <div class="match__next">
                  <button class="match__next-button" (click)="gotoNextMatch()">
                    <span class="match__copy">Next Match</span>
                    <!-- Extra visual decoration, not needing svg-title nor sr-only text descriptor as we have "Next Match" for the button -->
                    <svg class="markVeryThin" aria-hidden="true" width="8" height="14" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
                      <title>
                        Next Match
                      </title>
                      <path d="M1.046 14l7-7-7-7L0 1.046 5.954 7 0 12.954" fill-rule="nonzero" fill="currentColor"/>
                    </svg>
                  </button>
                </div>
              </div>
            }
            <!-- Prev and Next buttons -->
            <div class="story-nav">
              <div class="story-nav-item">
                @if (myStory.prevStory != 0) {
                  <button class="story-nav-button" (click)="gotoPrevStory()">
                    <!-- Extra visual decoration, not needing svg-title nor sr-only text descriptor as we will have "Previous Story" for the button -->
                    <svg class="story-nav-button-icon" aria-hidden="true"
                      width="8" height="14" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
                      <title>
                        Previous Story
                      </title>
                      <path d="M7 0L0 7l7 7 1.046-1.046L2.093 7l5.953-5.954" fill-rule="nonzero" fill="currentColor"/>
                    </svg>
                    <span class="flexGrow">Previous Story</span>
                  </button>
                }
              </div>
              <div class="story-nav-item">
                @if (myStory.nextStory != 0) {
                  <button class="story-nav-button" (click)="gotoNextStory()">
                    <span class="flexGrow">Next Story</span>
                    <!-- Extra visual decoration, not needing svg-title nor sr-only text descriptor as we have "Next Story" for the button -->
                    <svg class="story-nav-button-icon" aria-hidden="true"
                      width="8" height="14" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
                      <title>
                        Next Story
                      </title>
                      <path d="M1.046 14l7-7-7-7L0 1.046 5.954 7 0 12.954" fill-rule="nonzero" fill="currentColor"/>
                    </svg>
                  </button>
                }
              </div>
            </div>
            <!-- Add to/remove from My Clips button but only when in video-narrow-view. -->
            <div class="video-narrow-view slight-gap-above">
              <button class="myclips-add-delete-low-key-video-line" (click)="toggleAddToMyClips()">
                @if (storyInMyClips) {
                  <span class="flexGrow">Remove from My Clips</span>
                }
                <!-- Extra visual decoration, not needing svg-title nor sr-only text descriptor as we already have "Remove from My Clips" for the button -->
                @if (storyInMyClips) {
                  <svg aria-hidden="true" class="myclips-delete-icon" width="15" height="15" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                    <title>
                      Remove story from My Clips
                    </title>
                    <g fill="#FFF" fill-rule="evenodd">
                      <path d="M15 0C6.716 0 0 6.716 0 15c0 8.284 6.716 15 15 15 3.978 0 7.794-1.58 10.607-4.393C28.42 22.794 30 18.977 30 15c0-8.284-6.716-15-15-15zm0 2.57c3.297 0 6.46 1.308 8.79 3.64 2.332 2.33 3.64 5.493 3.64 8.79 0 3.297-1.308 6.46-3.64 8.79-2.33 2.332-5.493 3.64-8.79 3.64-3.297 0-6.46-1.308-8.79-3.64-2.332-2.33-3.64-5.493-3.64-8.79 0-3.297 1.308-6.46 3.64-8.79C8.54 3.878 11.703 2.57 15 2.57z" fill-rule="nonzero"/>
                      <path d="M9 14h12v2H9z"/>
                    </g>
                  </svg>
                }
                @if (!storyInMyClips) {
                  <span class="flexGrow">Add to My Clips</span>
                }
                <!-- Extra visual decoration, not needing svg-title nor sr-only text descriptor as we already have "Add to My Clips" for the button -->
                @if (!storyInMyClips) {
                  <svg aria-hidden="true" class="myclips-add-icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <title>
                      Add story to My Clips
                    </title>
                    <path d="M8 0C3.582 0 0 3.582 0 8s3.582 8 8 8c2.122 0 4.157-.843 5.657-2.343S16 10.122 16 8c0-4.418-3.582-8-8-8zm0 1.37c1.758 0 3.445.7 4.688 1.942C13.93 4.555 14.63 6.242 14.63 8c0 1.758-.7 3.445-1.942 4.688C11.445 13.93 9.758 14.63 8 14.63c-1.758 0-3.445-.7-4.688-1.942C2.07 11.445 1.37 9.758 1.37 8c0-1.758.7-3.445 1.942-4.688C4.555 2.07 6.242 1.37 8 1.37zm-.365 2.333c-.216 0-.39.174-.39.39v3.152H4.093c-.216 0-.39.174-.39.39v.73c0 .216.174.39.39.39h3.152v3.152c0 .216.174.39.39.39h.73c.216 0 .39-.174.39-.39V8.755h3.152c.216 0 .39-.174.39-.39v-.73c0-.216-.174-.39-.39-.39H8.755V4.093c0-.216-.174-.39-.39-.39h-.73z" fill-rule="nonzero" fill="#FFF"/>
                  </svg>
                }
              </button>
            </div>
            <!-- Tabs for details/transcript and add or remove when in video-narrow-view view -->
            <div class="video-narrow-view tabs">
              <div class="packedTabs"> <!-- pack two tabs together at left -->
                <button class="tabs__tab packedTabLeft" (click)="mobileDetailsClick(true)" [attr.aria-pressed]="mobileDetails" [class.tabs__tab--active]="mobileDetails">Details</button>
                <button class="tabs__tab packedTabRight" (click)="mobileDetailsClick(false)" [attr.aria-pressed]="!mobileDetails" [class.tabs__tab--active]="!mobileDetails">Transcript</button>
              </div>
            </div>
            <!-- About -->
            @if (biographyDetailsReady) {
              <div class="about about--desktop">
                <section class="about__section">
                  <h2 class="about__heading">About {{myStory.citation.preferredName}}</h2>
                  <p class="about__copy">{{biographyAbstract}}</p>
                  <p class="about__copy">
                    <a class="about__link" tabindex="0" role="link" [routerLink]="['/storiesForBio', {ID: biographyAccession}]" routerLinkActive="active">To see the entire interview, click here</a>.
                  </p>
                </section>
                @if (myStory.favorites.color || myStory.favorites.food || myStory.favorites.timeOfYear || myStory.favorites.vacationSpot || myStory.favorites.quote) {
                  <section class="about__section"
                    >
                    <h2 class="about__heading" id="Favorites_Heading-Desktop">Favorites</h2>
                    <ul class="favorites-list" aria-labelledby="Favorites_Heading-Desktop">
                      @if (myStory.favorites.color) {
                        <li class="about__copy about__copy--favorites"><span class="bold">Favorite Color:</span> {{myStory.favorites.color}}</li>
                      }
                      @if (myStory.favorites.food) {
                        <li class="about__copy about__copy--favorites"><span class="bold">Favorite Food:</span> {{myStory.favorites.food}}</li>
                      }
                      @if (myStory.favorites.timeOfYear) {
                        <li class="about__copy about__copy--favorites"><span class="bold">Favorite Time of Year:</span> {{myStory.favorites.timeOfYear}}</li>
                      }
                      @if (myStory.favorites.vacationSpot) {
                        <li class="about__copy about__copy--favorites"><span class="bold">Favorite Vacation Spot:</span> {{myStory.favorites.vacationSpot}}</li>
                      }
                      @if (myStory.favorites.quote) {
                        <li class="about__copy about__copy--favorites"><span class="bold">Favorite Quote:</span> {{myStory.favorites.quote}}</li>
                      }
                    </ul>
                  </section>
                }
              </div>
            }
            <!-- About on video-narrow-view-->
            @if (biographyDetailsReady) {
              <div class="about about--narrow-view" [class.about--mobile-active]="mobileDetails">
                <section class="about__section">
                  <h2 class="about__heading">About {{myStory.citation.preferredName}}</h2>
                  <p class="about__copy">{{biographyAbstract}}</p>
                  <p class="about__copy">
                    <a class="about__link" tabindex="0" role="link" [routerLink]="['/storiesForBio', {ID: biographyAccession}]" routerLinkActive="active">To see the entire interview, click here</a>.
                  </p>
                </section>
                <section class="about__section">
                  <h2 class="about__heading">Citation</h2>
                  <p class="about__copy">{{storyCitation}}</p>
                </section>
                @if (myStory.favorites.color || myStory.favorites.food || myStory.favorites.timeOfYear || myStory.favorites.vacationSpot || myStory.favorites.quote) {
                  <section class="about__section"
                    >
                    <h2 class="about__heading" id="Favorites_Heading-Mobile">Favorites</h2>
                    <ul class="favorites-list" aria-labelledby="Favorites_Heading-Mobile">
                      @if (myStory.favorites.color) {
                        <li class="about__copy about__copy--favorites"><span class="bold">Favorite Color:</span> {{myStory.favorites.color}}</li>
                      }
                      @if (myStory.favorites.food) {
                        <li class="about__copy about__copy--favorites"><span class="bold">Favorite Food:</span> {{myStory.favorites.food}}</li>
                      }
                      @if (myStory.favorites.timeOfYear) {
                        <li class="about__copy about__copy--favorites"><span class="bold">Favorite Time of Year:</span> {{myStory.favorites.timeOfYear}}</li>
                      }
                      @if (myStory.favorites.vacationSpot) {
                        <li class="about__copy about__copy--favorites"><span class="bold">Favorite Vacation Spot:</span> {{myStory.favorites.vacationSpot}}</li>
                      }
                      @if (myStory.favorites.quote) {
                        <li class="about__copy about__copy--favorites"><span class="bold">Favorite Quote:</span> {{myStory.favorites.quote}}</li>
                      }
                    </ul>
                  </section>
                }
              </div>
            }
          </div>
        </div>
      </div>
      <!--Transcript column-->
      <div class="transcriptColumnMain">
        <div class="transcriptColumnParent" [class.transcriptColumnParent--mobile-active]="!mobileDetails"
          role="region" aria-labelledby="transcript-heading">
          <h2 id="transcript-heading" class="sr-only noSpacing">Story Transcript</h2>
          <button class="video-desktop-view button-low-key-toggle" (click)="toggleTranscriptDisplay()" [attr.aria-expanded]="isTranscriptShowing">
            {{toggleTranscriptLabel}}
          </button>
          @if (isTranscriptShowing) {
            <div class="transcriptColumn" [class.transcriptColumn--mobile-active]="!mobileDetails"
              tabindex="0" role="region" aria-labelledby="transcript-heading">
              <!-- Allow all users to toggle off the transcript text, which might be distracting, via
              a button by the transcript (as asked for by accessibility experts) in desktop view, with
              narrow view not needing that since the transcript tab (column) is enough to toggle display on or off. -->
              @if (isTranscriptShowing) {
                <p class="transcriptArea"
                  [innerHTML]="transcriptTextBlock">
                </p>
              }
            </div>
          }
        </div>
      </div>
    </div>
    <div class="myStoryAboutRow">
      <!--About Content-->
      <div class="aboutContentMain">
        <!-- About for wide views (with "about" for "about--mobile" and "about--desktop" hidden for wide views) -->
        @if (biographyDetailsReady) {
          <div class="about about--wide-desktop">
            <section class="about__section">
              <h2 class="about__heading">About {{myStory.citation.preferredName}}</h2>
              <p class="about__copy">{{biographyAbstract}}</p>
              <p class="about__copy">
                <a class="about__link" tabindex="0" role="link" [routerLink]="['/storiesForBio', {ID: biographyAccession}]" routerLinkActive="active">To see the entire interview, click here</a>.
              </p>
            </section>
            @if (myStory.favorites.color || myStory.favorites.food || myStory.favorites.timeOfYear || myStory.favorites.vacationSpot || myStory.favorites.quote) {
              <section class="about__section"
                >
                <h2 class="about__heading" id="Favorites_Heading-WideView">Favorites</h2>
                <ul class="favorites-list" aria-labelledby="Favorites_Heading-WideView">
                  @if (myStory.favorites.color) {
                    <li class="about__copy about__copy--favorites"><span class="bold">Favorite Color:</span> {{myStory.favorites.color}}</li>
                  }
                  @if (myStory.favorites.food) {
                    <li class="about__copy about__copy--favorites"><span class="bold">Favorite Food:</span> {{myStory.favorites.food}}</li>
                  }
                  @if (myStory.favorites.timeOfYear) {
                    <li class="about__copy about__copy--favorites"><span class="bold">Favorite Time of Year:</span> {{myStory.favorites.timeOfYear}}</li>
                  }
                  @if (myStory.favorites.vacationSpot) {
                    <li class="about__copy about__copy--favorites"><span class="bold">Favorite Vacation Spot:</span> {{myStory.favorites.vacationSpot}}</li>
                  }
                  @if (myStory.favorites.quote) {
                    <li class="about__copy about__copy--favorites"><span class="bold">Favorite Quote:</span> {{myStory.favorites.quote}}</li>
                  }
                </ul>
              </section>
            }
          </div>
        }
        <!-- Back button but only when in video-narrow-view (see earlier for goBack() interface when not in mobile, i.e., desktop) -->
        <button class="back-button-for-story-in-narrow-view" (click)="goBack($event)">
          <!-- Extra visual decoration, not needing svg-title nor sr-only text descriptor as we will have "Back to Story Set" for the button -->
          <svg aria-hidden="true" class="back-chevron-icon" viewBox="0 0 12 20" xmlns="http://www.w3.org/2000/svg">
            <title>
              Go back to the previous page
            </title>
            <g fill="#FFF" fill-rule="nonzero">
              <path d="M10 0L0 10l10 10 1.494662-1.494662L2.989324 10l8.505338-8.505338"/>
            </g>
          </svg>
          <span class="flexGrow">Back to Previous Page</span>
        </button>
      </div>
      <!--Citation Content-->
      <div class="citationMain">
        <!-- Citation only for video-desktop-view -->
        <div class="video-desktop-view">
          @if (biographyDetailsReady) {
            <div class="citationContainer">
              <h2 class="about__heading">Citation</h2>
              <p class="about__copy__widescreen">{{storyCitation}}</p>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
@if (storyDetailLoadingFailed) {
  <div>
    <p>No story loaded</p>
  </div>
}
