@use '../shared/theme/myGlobals';
@use '../shared/theme/helpers';
@use '../shared/theme/base';
@use '../shared/theme/button-helpers';
@use '../shared/theme/myF';

%video-narrow-view,
.video-narrow-view {
  @media screen and (min-width: myF.bp(required_video_in_column)) {
    display: none !important;
  }
}

%video-desktop-view,
.video-desktop-view {
  @media screen and (max-width: myF.bp(required_video_in_column_just_before)) {
    display: none !important;
  }
}

.video-desktop-view.button-low-key-toggle {
    margin-bottom: 12px;
}

/* NOTE: see _base.scss, biography set title in historymakers.component.scss, etc. for similar page-title styling,
   from which the following is derived but made "special" in its narrow view. */
.page-title-video-page {
  @include myGlobals.oswald;

  color: myF.color(black);
  font-size: 1.4rem;
  width: 100%;
  margin-top: 0;
  margin-bottom: myF.em(4);
  padding: 0;

   @media screen and (min-width: myF.bp(afl_medium)) {
      font-size: 1.7rem;
  }

  /* NOTE: unique look just for this video page for narrow view titles */
  @media screen and (max-width: myF.bp(afl_small_just_before)) {
    background-color: black;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 0;
    padding: myF.gutter(thmda-tight) myF.gutter(thmda-tiny) myF.gutter(thmda-tight) myF.gutter(thmda-tiny); /* top right bottom left */
  }

  &:focus {
    outline: 0;
    text-decoration: underline;
  }
}

.videoInfoContainer {
  /* fxLayout="row wrap" fxLayoutAlign="space-between flex-start" */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  flex-flow: row wrap;
  /* flex: 1 1 1e-9px; !!!TBD!!! decide if this is necessary or can be commented out as is done here... */
  place-content: flex-start space-between; /* note: shorthand for align-content: flex-start; justify-content: space-between */
  align-items: flex-start;

  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* scrolling taken care of in parent container.... */
  overflow-y: hidden; /* scrolling taken care of in parent container.... */
}

.myStoryRow {
  /* fxLayout="row wrap" fxLayoutAlign="space-between flex-start" fxLayoutGap.lt-sm="0" fxLayoutGap="calc(20px)" fxFlex="100%" */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  flex-flow: row wrap;
  flex: 1 1 100%;
  place-content: flex-start space-between; /* note: shorthand for align-content: flex-start; justify-content: space-between */
  align-items: flex-start;

  @media screen and (min-width: myF.bp(afl_small))
  {
    *:not(:last-child) {
      margin-right: 20px;
    }
  }

}

.myStoryAboutRow {
  /* fxLayout="row wrap" fxLayoutAlign="space-between flex-start" fxLayoutGap.lt-md="0" fxLayoutGap="calc(20px)" */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  flex-flow: row wrap;
  place-content: flex-start space-between; /* note: shorthand for align-content: flex-start; justify-content: space-between */
  align-items: flex-start;

  @media screen and (min-width: myF.bp(afl_medium))
  {
    *:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.myclips-add-delete-low-key-video-line { /* height of 2rem, no margin nor narrow width media query */
  /* fxLayout="row" fxLayoutAlign="center center" */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  place-content: center;
  align-items: center;

  @include myGlobals.oswald;

  background-color: myF.color(primary);
  border: 1px solid myF.color(primary); /* note: added for accessibility, to provide a button border in high contrast mode */
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  height: myGlobals.$buttonHeight;
  margin: 0;
  padding: 0 10px;
  text-align: center;

  transition: box-shadow .15s ease-in-out;
  width: 100%; /* note: subtle difference with search__submit style for search button */

  &:hover,
  &:focus {
    box-shadow: inset 0 0 5px rgba(51,51,51,.6);
    background-color: myF.color(secondary);
  }

  &:disabled {
      cursor: not-allowed;
      opacity: .4;
  }
}

.myStoryVideoContent {
  /* fxFlex.lt-sm="100%" fxFlex.lt-md="calc(60% - 20px)" fxFlex="calc(40% - 20px)" fxLayout="column" fxLayoutAlign="space-between stretch" */
  display: flex !important;
  flex-direction: column !important;
  box-sizing: border-box;
  place-content: stretch space-between;
  align-items: stretch;

  @media screen and (max-width: myF.bp(afl_small_just_before)) {
    min-width: 100%;
    flex: 1 1 100%;
  }
  @media screen and (min-width: myF.bp(afl_small)) and (max-width: myF.bp(afl_medium_just_before)) {
    min-width: calc(60% - 20px);
    flex: 1 1 calc(60% - 20px);
  }
  @media screen and (min-width: myF.bp(afl_medium)) {
    min-width: calc(40% - 20px);
    flex: 1 1 calc(40% - 20px);
  }
}

.titleRow {
  /* fxLayout="row wrap" fxFlex="100%" */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  flex-flow: row wrap;
  flex-basis: 100%;

  padding: 0;

  @media screen and (min-width: myF.bp(afl_small)) and (max-width: myF.bp(afl_medium_just_before)) {
    padding-bottom: myF.gutter(thmda-tight); /* keep buttons separated from content below at wider views */
  }

  @media screen and (min-width: myF.bp(afl_medium)) {
    padding-bottom: myF.gutter(thmda-medium); /* keep buttons separated from content below at wider views */
  }
}

.title-buttons-area {
  /* !!!TBD!!! note this was decorated with fxLayout="column" but I think that was extraneous -- doing NOTHING with that - check and see!!!! */

  min-width: 340px; /* gives enough width for 3 buttons to fit with their labels without wrapping */

  @media screen and (max-width: myF.bp(thmda_narrow_just_before)) {
    min-width: 320px; /* give up cleaner layout to just get stuff into the narrowing view (match min width of videoColumn) */
  }
}

.citationMain {
  /* fxFlex.sm="100%" fxFlex.lt-md="100%" fxFlex="calc(60% - 20px)" fxLayout="column" fxLayoutAlign="space-between stretch" */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  place-content: stretch space-between;
  align-items: stretch;

  @media screen and (max-width: myF.bp(afl_medium_just_before))
  {
    flex: 1 1 100%;
    max-width: 100%;
  }
  @media screen and (min-width: myF.bp(afl_medium))
  {
    flex: 1 1 calc(60% - 20px);
    max-width: calc(60% - 20px);
  }
}

.citationContainer {
  padding-top: 10px;
}

.button-bar-piece {
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.contentRow {
  /* fxFlex="grow" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="calc(0.2em)" */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  flex-flow: row wrap;
  place-content: flex-start space-between; /* note: shorthand for align-content: flex-start; justify-content: space-between */
  align-items: flex-start;

  *:not(:last-child) {
    margin-right: calc(0.2em);
  }

  flex-grow: 1;
  padding: 0;
  margin: 0;
  height: 100%;
}

.videoColumn {
  width: 100%;
  margin: 12px 0;
  padding: 0;
  min-width: 320px; /* need a bit of width to support match lines, controls, etc. */
}

.transcriptColumnParent {
  width: 100%;

  /* NOTE: this container for transcript will not be shown for narrow views UNLESS video-narrow-view (see transcriptColumnParent--mobile-active) */
  @media screen and (max-width: myF.bp(required_video_in_column_just_before)) {
    display: none;
  }
}

.transcriptColumnParent--mobile-active {
  display: inherit;
}

.transcriptColumn {
  min-height: 240px; /* NOTE: Insist on a bit of transcript showing (equivalent to height of video player area for 320x240 cases). */
  max-height: 400px; /* ...but not too much transcript... */
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 0 myF.em(8) 0; /* top right bottom left
  padding: myF.gutter(thmda-tiny) myF.gutter(thmda-tiny) myF.gutter(thmda-tiny) myF.gutter(thmda-tiny); /* top right bottom left */
  border: 1px solid myF.color(dark-grey);
  background-color: myF.color(light-grey);
  color: black;
  line-height: 1.125rem;
  font-size: 1.2rem;

  /* !!!TBD!!! !!!TODO: !!! NOTE: REVISIT later (or replace with ngStyle) to fill all available height in its flex container on wide views;
     this is a COMPROMISE as for 320x240 videos, a max-height of 400px works fine, but for 320x180 videos, the max-height should be no more than 300px.
     A compromise of 328px is used here; !!!TBD!!! !!!TODO: later tune based on 240 video height or 180 video height, plus if there are matches or not. */
  @media screen and (min-width: myF.bp(thmda_wideenough)) {
      max-height: 328px;
  }
}
.transcriptColumn--mobile-active {
  /* NOTE: when transcript is shown in narrow view ("mobile-active"), use smaller font, etc., layout */
  @media screen and (max-width: myF.bp(required_video_in_column_just_before)) {
    min-height: 120px; /* NOTE: Insist on a bit of transcript showing */
    max-height: 180px; /* ...but not too much transcript... */
    line-height: 1rem;
    font-size: 1.1rem;
  }
}

.transcriptArea {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.videoContents {
  width: 100%;
}

.about {
  /* TODO: Later, one could dress this up with gradient backgrounds, e.g.,
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
  background-repeat: repeat;
  ...but wait for the tri-color scheme to be improved first.
  */
  flex-grow: 1; /* used where we formerly had fxFlex="grow" */

  padding: myF.gutter(thmda-tight) 0 0 0; /* top right bottom left */
  margin-bottom: 0.5em;

  &--narrow-view {
      @extend %video-narrow-view;

      display: none;
  }

  &--mobile-active {
      @media screen and (max-width: myF.bp(required_video_in_column_just_before)) {
          display: inherit;
      }
  }

  &--desktop {
      @media screen and (max-width: myF.bp(required_video_in_column_just_before)) , screen and (min-width: myF.bp(thmda_wideenough))  {
        display: none !important;
      }
      margin-bottom: 0;
  }

  &--wide-desktop {
      @media screen and (max-width: myF.bp(thmda_wideenough_just_before)) {
        display: none !important;
      }
      margin-bottom: 0;
  }
}

.about__section {
  border-bottom: 1px solid myF.color(ok-grey);
  margin-bottom: myF.gutter(thmda-big);
  padding-bottom: myF.gutter(thmda-tight);

  &:first-of-type {
      margin-top: myF.gutter(thmda-big);

      @media screen and (min-width: myF.bp(afl_small)) {
          margin-top: 0;
      }
  }

  &:last-of-type {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
  }
}

.favorites-list {
  list-style: none;
  padding: 0;
}

.about__heading {
  @include myGlobals.oswald;

  color: myF.color(dark-grey);
  font-size: 1.4rem;
  letter-spacing: -.4px;
  line-height: 1.25rem;
}

.about__copy--favorites {
  margin: 0;
}

.about__copy__widescreen {
  padding-bottom: 0; /* will be in a container that gives a bottom whitespace area */
}

.limitButtonRowWidth {
  /* fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxFlex="100%" */
  display: flex !important;
  flex-direction: row;
  flex-flow: row wrap;
  box-sizing: border-box;
  place-content: stretch space-between; /* note: shorthand for align-content: stretch; justify-content: space-between */
  align-items: stretch;
  flex: 1 1 100%;

  max-width: 448px;
}

.myStoryButtonRow {
/* fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="calc(20px)" */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  place-content: flex-start space-between;
  align-items: flex-start;

  *:not(:last-child) {
    margin-right: 20px;
  }

}

.about__link,
.about__link:visited {
  @include myGlobals.source-sans-semi-bold;
  color: myF.color(primary);
}

/* Prev and Next Match Section */
.match {
    /* fxLayout="row" fxLayoutAlign="space-between center" */
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    place-content: center space-between; /* note: shorthand for align-content: center; justify-content: space-between */
    align-items: center;

    background-color: myF.color(primary);
    width: 100%;
    max-width: myF.bp(max_video_width); /* NOTE: do not extend wider than video player */
    height: 1.875rem;
}

.match__prev,
.match__next {
    flex: 0 0 auto;
    background-color: transparent;
    color: black;
}

.match__prev-button,
.match__next-button {
    /* fxLayout="row" fxLayoutAlign="center center" */
    box-sizing: border-box;
    display: flex !important;
    flex-direction: row;
    place-content: center;
    align-items: center;

    @include myGlobals.source-sans;

    background-color: transparent;
    color: #fff;
}

.match__prev-button .match__copy {
    margin-left: 0.325rem; /* 5px where 1rem == 16px */
    flex-grow: 1; /* used where we formerly had fxFlex="grow" */
}

.match__next-button .match__copy {
    margin-right: 0.325rem; /* 5px where 1rem == 16px */
    flex-grow: 1; /* used where we formerly had fxFlex="grow" */
}

.match__tick-line {
    background-color: myF.color(ok-grey);
    height: 0.125rem;
    margin: auto 0;
    position: relative; /* needed to position match__tick properly on the line */
    flex-grow: 1; /* used where we formerly had fxFlex="grow" */
}

.match__tick {
    background-color: #fff;
    height: 0.875rem;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
    position: absolute;
    top: -0.4375rem; /* -7px where 1rem == 16px */
    width: 0.125rem; /* 2px where 1rem == 16px */
}

.markVeryThin {
  flex: 0 0 8px;
}

.story-nav {
    /* fxLayout="row" fxLayoutAlign="space-between center" */
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    place-content: center space-between; /* note: shorthand for align-content: center; justify-content: space-between */
    align-items: center;

    background-color: black;
    height: 1.875rem;
    width: 100%;
    max-width: myF.bp(max_video_width); /* NOTE: do not extend wider than video player */
}

.story-nav-item {
  flex: 0 0 auto;
}

.story-nav-button {
  /* fxLayout="row" fxLayoutAlign="center center" */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  place-content: center;
  align-items: center;

  @include myGlobals.source-sans;

  background-color: transparent;
  color: #fff;
}

.story-nav-button-icon {
  flex: 0 0 8px;
  margin-right: 0.325rem; /* 5px where 1rem == 16px */
}

.tabs {
  /* fxLayout="row" fxLayoutAlign="space-between center" */
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  place-content: center space-between; /* note: shorthand for align-content: center; justify-content: space-between */
  align-items: center;

  border-bottom: 1px solid myF.color(ok-grey);
  font-size: 1.2rem;
  margin: myF.gutter(thmda-medium) 0 0 0; /* top right bottom left */

  @media screen and (max-width: myF.bp(thmda_narrow_just_before)) {
    font-size: 1rem;
  }
}

.tabs__tab {
  @include myGlobals.source-sans-bold;

  background-color: myF.color(light-grey);
  border-radius: 0;
  color: myF.color(ok-grey);
  font-size: 1.2rem;
  height: myGlobals.$buttonHeight;

  &:hover {
      cursor: pointer;
  }

  &--active {
      background-color: myF.color(secondary);
      color: #fff;
  }

}

.spaceForWordyLabel { /* hide on narrow views exactly the inverse of range for needTightLabel */
  @media screen and (max-width: myF.bp(thmda_wideenough_just_before)) {
    display: none !important;
  }
  flex-grow: 1; /* used where we formerly had fxFlex="grow" */
}

.needTightLabel { /* hide on wide views exactly the inverse of range for spaceForWordyLabel */
  @media screen and (min-width: myF.bp(thmda_wideenough)) {
    display: none !important;
  }
  flex-grow: 1; /* used where we formerly had fxFlex="grow" */
}

.slight-gap-above {
  margin-top: 0.4em;
}

.back-button-for-story-in-narrow-view {
  @media screen and (min-width: myF.bp(required_video_in_column)) {
    display: none !important;
  }
  @media screen and (max-width: myF.bp(required_video_in_column_just_before)) {
    /* fxFlex="grow" fxLayout="row" fxLayoutAlign="center center" */
    box-sizing: border-box;
    display: flex !important;
    flex-direction: row;
    place-content: center;
    align-items: center;
    flex-grow: 1;
  }

  @include myGlobals.oswald;

  background-color: myF.color(primary);
  border: 1px solid myF.color(primary); /* note: added for accessibility, to provide a button border in high contrast mode */
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  height: myGlobals.$buttonHeight;
  min-height: myGlobals.$buttonHeight;
  max-width: 12.5rem; /* note: difference from back-button-low-key */
  padding: 0 12px;
  white-space: nowrap;
  transition: box-shadow .15s ease-in-out;
  width: auto; /* note: subtle difference with search__submit style for search button */

  &:hover,
  &:focus {
      box-shadow: inset 0 0 5px rgba(51,51,51,.6);
      background-color: myF.color(secondary);
  }

  &:disabled {
      cursor: not-allowed;
      opacity: .4;
  }
}

.back-button-low-key-video-line { /* just like biography-storyset's back-button-low-key but no margin and height change */
  @include myGlobals.oswald;

  /* fxLayout="row" fxLayoutAlign="center center"  */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  place-content: center;
  align-items: center;

  background-color: myF.color(secondary);
  border: 1px solid myF.color(secondary); /* note: added for accessibility, to provide a button border in high contrast mode */
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  height: myGlobals.$buttonHeight;
  padding: 0 10px;
  white-space: nowrap;
  transition: box-shadow .15s ease-in-out;
  width: auto; /* note: subtle difference with search__submit style for search button */
  margin: 0;

  &:hover,
  &:focus {
      box-shadow: inset 0 0 5px rgba(51,51,51,.6);
      background-color: myF.color(primary);
  }

  &:disabled {
      cursor: not-allowed;
      opacity: .4;
  }
}

.myclips-add-icon {
  flex: 0 0 16px;
  height: 1rem;
  margin-left: 0.5rem;
}

.myclips-delete-icon {
  flex: 0 0 15px;
  height: 1rem;
  margin-left: 0.5rem;
}

.packedTabs {
  /* fxFlex="0 0 calc(12.5em)" fxLayout="row" fxLayoutAlign="start end" */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  place-content: flex-start; /* !!!TBD!!! check if this is OK, which is just fxLayoutAlign="start" and NOT fxLayoutAlign="start end" */
  align-items: flex-start;
  flex: 0 0 calc(12.5em);
}

.packedTabLeft {
  flex-basis: 45%;
}

.packedTabRight {
  flex-basis: 55%;
}

.transcriptColumnMain {
  /* fxFlex.lt-sm="100%" fxFlex.lt-md="40%" fxFlex="" fxLayout="column" fxLayoutAlign="space-between stretch" */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  place-content: stretch space-between;
  align-items: stretch;

  @media screen and (max-width: myF.bp(afl_small_just_before))
  {
    flex: 1 1 100%;
    max-width: 100%;
  }
  @media screen and (min-width: myF.bp(afl_small)) and (max-width: myF.bp(afl_medium_just_before))
  {
    flex: 1 1 40%;
    max-width: 40%;
  }
  @media screen and (min-width: myF.bp(afl_medium))
  {
    flex: 1 1 calc(60% - 20px);
    max-width: calc(60% - 20px);
  }
}

.aboutContentMain {
  /*  fxFlex.lt-sm="100%"  fxFlex.lt-md="100%" fxFlex="calc(40% - 20px)" fxLayout="column" fxLayoutAlign="space-between stretch" */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  place-content: stretch space-between;
  align-items: stretch;

  @media screen and (max-width: myF.bp(afl_medium_just_before))
  {
    flex: 1 1 100%;
    max-width: 100%;
  }
  @media screen and (min-width: myF.bp(afl_medium))
  {
    flex: 1 1 calc(40% - 20px);
    max-width: calc(40% - 20px);
  }
}
