@use '../shared/theme/myGlobals';
@use '../shared/theme/helpers';
@use '../shared/theme/base';
@use '../shared/theme/search-helpers';
@use '../shared/theme/filter-helpers';
@use '../shared/theme/pagination-helpers';
@use '../shared/theme/myF';

.tapes {
  list-style: none;
  padding: 0;
  display: grid;
  /* Default of 2 per row */
  grid-template-columns: repeat(2, 1fr); /* the "1fr" makes all rows equal height; e.g., see stackoverflow.com/questions/44488357/equal-height-rows-in-css-grid-layout */
  grid-auto-rows: 1fr;
  gap: myF.gutter(thmda-tight);

  /* Note: layout set-up assumes that each card plus its gap accounts for roughly 128 pixels.
     At these widths, we have these needs:
     Breakpoint Name  Pixel-Value Max-Columns (stamps per row)
     thmda_narrow     392px       3
     BUT NOW at afl_small and up, only 66% of screen is used for stamp area or a max of 336 pixels, so adjust further:
     Breakpoint Name  Pixel-Value 2/3-Value or down 336px Max-Columns (stamps per row)
     afl_small        600px       400       3
     thmda_wideenough 768px       ~512      3 (4 could fit but less readable short text, so leaving wider at 3 per row)
     afl_medium       960         640       4
     afl_large        1280        944       7
     afl_xlarge (retired, not used)       1920        1584      12
     xlarge  (retired, not used)          2400        2064      16 */


  /* For widths between afl_medium and afl_large, be 4 per row: */
  @media screen and (min-width: myF.bp(afl_medium)) and (max-width: myF.bp(afl_large_just_before)) {
    grid-template-columns: repeat(3, 1fr);
    gap: myF.gutter(thmda-medium);
  }

  /* With maximum of thmda_maxwidth, afl_large < thmda_maxwidth < afl_xlarge < xlarge, simply max out now at afl_large or greater...
     For widths of afl_large or greater, be 7 per row: */
  @media screen and (min-width: myF.bp(afl_large)) {
    grid-template-columns: repeat(4, 1fr);
    gap: myF.gutter(thmda-big);
  }
}

.tape {
  padding: 0;
  margin: 0;
}

.tape-as-list {
  padding: 0;
  margin: 0 0 myF.gutter(thmda-tiny) 0; /* top right bottom left */
}

.tapes-as-list {
  list-style: none;
  padding: 0;
}

/* My Clips */
.welcome-paragraph {
  @include myGlobals.source-sans-bold;

  background: myF.color(primary);
  color: #fff;
  font-size: 2rem;
  margin: myF.em(12) 0 myF.em(8) 0; /* top right bottom left */
  padding: myF.em(8) myF.em(10);
  position: relative; /* needed to get descending triangle magic to work... */

  &:after { /* magic to draw descending triangle */
    border-left: myF.em(10) solid transparent;
    border-right: myF.em(10) solid transparent;
    border-top: myF.em(10) solid myF.color(primary);
    content: '';
    height: 0;
    left: calc(30% - 10px);
    position: absolute;
    top: 100%;
    transform: translateY(-40%);
    width: 0;
  }
}

.distinguishFilterPanelNarrowFilter {
  background-color: myF.color(light-grey);
  border: 1px solid #ccc;
  padding: myF.gutter(thmda-medium);

  /* fxFlex.lt-md="34%" fxFlex.gt-sm="0 0 calc(308px)" */
  @media screen and (max-width: myF.bp(afl_medium_just_before))
  {
    flex: 1 1 100%;
    max-width: calc(34%);
  }
  @media screen and (min-width: myF.bp(afl_medium)) {
    flex: 0 0 308px;
    width: 308px;
  }
  margin-right: 18px;

}

.story-set__title {
  @include myGlobals.oswald;

  color: myF.color(black);
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 0;
  margin-top: myF.em(4);
  padding: 0;

  @media screen and (min-width: myF.bp(afl_small)) and (max-width: myF.bp(afl_medium_just_before)) {
      font-size: 1.7rem;
  }

  @media screen and (min-width: myF.bp(afl_medium)) and (max-width: myF.bp(afl_large_just_before)) {
      font-size: 2rem;
  }

  @media screen and (min-width: myF.bp(afl_large)) {
      font-size: 2.3rem;
  }

  &:focus {
    outline: 0;
    text-decoration: underline;
  }
}

.attrib {
    font-size: 1.2rem;
    color: #1E1810;
}

.gap-my-clips-action-container {
    margin-bottom: myF.em(12);
}

.my-clips-action-button-no-flex { /* similar to my-clips-action-button */
  @include myGlobals.oswald;

  background-color: myF.color(primary);
  border: 1px solid myF.color(primary); /* note: added for accessibility, to provide a button border in high contrast mode */
  border-radius: 0;
  cursor: pointer;
  margin: myF.gutter(thmda-tight) 0 myF.gutter(thmda-tiny) 0; /* top right bottom left */
  padding: myF.em(4) myF.em(12);
  font-size: 1.2rem;
  height: myGlobals.$buttonHeight;

  &:hover,
  &:focus {
      box-shadow: inset 0 0 5px rgba(51,51,51,.6);
      background-color: myF.color(secondary);
  }
}

.my-clips-action-button { /* note similarity with launch-filter-menu-button */
  @include myGlobals.oswald;

  /* fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="calc(0.2em)" */
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  place-content: center space-around;
  align-items: center;
  *:not(:last-child) {
    margin-right: calc(0.2em);
  }

  background-color: myF.color(primary);
  border: 1px solid myF.color(primary); /* note: added for accessibility, to provide a button border in high contrast mode */
  border-radius: 0;
  cursor: pointer;
  margin-top: myF.gutter(thmda-tiny);

  &:hover,
  &:focus {
      box-shadow: inset 0 0 5px rgba(51,51,51,.6);
      background-color: myF.color(secondary);
  }

  @media screen and (max-width: myF.bp(afl_medium_just_before)) {
    padding: myF.em(2) myF.em(6);
    font-size: 1rem;
    height: myGlobals.$shorterButtonHeight;
    margin-bottom: myF.gutter(thmda-tiny);
  }

  @media screen and (min-width: myF.bp(afl_medium)) {
    padding: myF.em(4) myF.em(12);
    font-size: 1.2rem;
    height: myGlobals.$buttonHeight;
    margin-bottom: myF.gutter(thmda-tight);
  }

}

.action-button-top-gap {
  margin-top: myF.em(6);
}

.radiogroup-nowhitespace-rowlayout {
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  place-content: flex-end space-between; /* note: shorthand for align-content: flex-end; justify-content: space-between */
  align-items: flex-end;
  *:not(:last-child) {
    margin-right: 10px;
  }

  @media screen and (max-width: myF.bp(afl_medium_just_before))
  {
    flex: 1 1 auto;
  }
  margin: 0;
  padding: 0;
  list-style: none;
}

.radiogroup-nowhitespace-rowlayout:focus {
  outline: none;
}

.flexColumnChunk {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-height: 100%;
}
/* RETIRED - was used for narrow views to put Grid, Text, Map options one per row but instead we are using 
  pad-top-a-bit-but-maybe-hide to hide icons so these three will always fit on a single row even in narrow views, so no need for this class anymore.
.unstyled-list-nowhitespace-narrow-filter which would have been renamed radiogroup-nowhitespace-narrow-filter but instead is retired {
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  flex-flow: row wrap;
  flex: 1 1 1e-9px;
  place-content: center space-between; 
  align-items: center;

  @media screen and (min-width: myF.bp(afl_medium))
  {
    *:not(:last-child) {
      margin-right: calc(0.5em);
    }
  }
  list-style: none;
  margin: 0;
  padding: 0;
}
---end of commented out RETIRED class*/

.container-for-storyset {
  /* fxLayout="column" fxLayoutAlign="space-between stretch" */
  display: flex !important;
  flex-direction: column;
  box-sizing: border-box;
  place-content: stretch space-between; /* note: shorthand for align-content: stretch; justify-content: space-between */
  align-items: stretch;
}

.storyset-btn-container {
  flex: 0 0 auto;
}

.flexClearMyClips {
  flex: 0 0 17px;
  min-width: 17px;
  max-width: 17px;
}

.flexShareMyClips {
  flex: 0 0 21px;
  min-width: 21px;
  max-width: 21px;
}

.flexClipOps { /* used for clip operation svg parts of width 21 */
  flex: 0 0 21px;
  min-width: 21px;
  max-width: 21px;
}

.storyset-btn-row {
  box-sizing: border-box;
  display: flex !important;
  flex-direction: row;
  flex-flow: row wrap;
  place-content: flex-start;
  align-items: flex-start;

  margin: 0;
  padding: 0;

  *:not(:last-child) {
    margin-right: 10px;
  }

  margin-bottom: myF.em(12);

    /* For widths up to thmda_wideenough - have max width of the row at 280px; otherwise, don't worry. */
    @media screen and (max-width: myF.bp(thmda_wideenough_just_before)) {
      width: 280px;
      max-width: 280px;
    }
}
