/* Master Styles */
/* NOTE: taking advice from http://www.creativebloq.com/responsive-web-design/get-flexy-eight-steps-9122828 and elsewhere to use em and not px;
         same source gave the body, h1, etc. suggestions
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
  height:100%;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  color: #64615D;
  font-family: 'Source Sans Pro', sans-serif;
}

.full-page-view {
	height:100%;
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

h1 {
  color: #1E1810;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0;
}
h2 {
  color: #5B2325;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}
h4 {
  color: #5B2325;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

input[text] {
  color: #1E1810;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #5B2325;
  color: white;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}
button:hover {
  background-color: #9D1E0D;
}
button:disabled {
  background-color: whitesmoke;
  color: #808080;
  cursor: auto;
}

a {
    color: #525E16;
}

a:hover {
    color: #525E16;
    text-decoration: underline;
}

/* Override Default Bootstrap Theme */
.panel-default > .panel-heading {
  color: #1E1810;
  background-color: #E6E4DC;
  border-color: #E6E4DC;
}

.panel-group {
    padding: 0px;
}

.dropdown-menu a:hover {
    cursor: pointer;
}

.dropdown-menu {
    min-width: 100%;
}

.dropdown-toggle .caret {
    margin-left: 5px;
}

/* NOTE: in 2016, used font-size of 12, 12, 14, 16, 18px; in 2017 reduced to 10, 10, 11, 12, 14 at request of The HistoryMakers */

@media all and (min-width: 960px) {
    .adjust-height {
        height: calc(100% - 174px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .adjust-height-tight {
        height: calc(100% - 158px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .adjust-height-home {
        height: calc(100% - 140px);
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media all and (max-width: 959px) and (min-width: 768px) {
    .adjust-height {
        height: calc(100% - 170px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .adjust-height-tight {
        height: calc(100% - 156px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .adjust-height-home {
        height: calc(100% - 136px);
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media all and (max-width: 767px) and (min-width: 600px) {
    .adjust-height {
        height: calc(100% - 58px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .adjust-height-tight {
        height: calc(100% - 46px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .adjust-height-home {
        height: calc(100% - 26px);
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    .adjust-height {
        height: calc(100% - 54px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .adjust-height-tight {
        height: calc(100% - 42px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .adjust-height-home {
        height: calc(100% - 24px);
        overflow-x: hidden;
        overflow-y: auto;
    }
}
@media all and (max-width: 319px) {
    .adjust-height {
        height: calc(100% - 54px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .adjust-height-tight {
        height: calc(100% - 42px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .adjust-height-home {
        height: calc(100% - 24px);
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.tooltip.in {
    opacity: 1;
}

.tooltip-inner {
  background-color: #525E16;
  color: #fff;
  padding: 8px;
}

.tooltip--primary .tooltip-inner {
    background-color: #704b2b;
    color: #fff;
}

.tooltip.tooltip--primary.left .tooltip-arrow { border-left-color: #704b2b; }

.tooltip.left .tooltip-arrow {
    border-left-color: #525E16;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #525E16;
}
