@import '../shared/theme/base';

.page-title {
    @extend %oswald;

    font-size: rem(20);
    font-weight: 500;
    line-height: em(22, 20);
    margin-bottom: 15px;
    margin-top: 0;
    text-transform: uppercase;

    @media screen and (min-width: bp(medium)) {
        font-size: rem(22);
         margin-bottom: em(16); // was em(58,22);
    }

    @media screen and (min-width: bp(large)) {
        font-size: rem(26);
        margin-bottom: em(18); // was em(58,26);
    }
}

.helptext {
    line-height: em(18);
    font-size: rem(14);
    color: black;

    @media screen and (min-width: bp(medium)) {
        line-height: em(22, 16);
        font-size: rem(16);
    }
}
