@use '../shared/theme/myF';
@use '../shared/theme/myGlobals';
@use '../shared/theme/helpers';
@use '../shared/theme/base';

.home-primary-container {
  /* styles for retired fxFlex: fxLayout="row wrap" fxLayoutAlign="space-between flex-start" fxLayoutGap.lt-md="0" fxLayoutGap="calc(20px)" */
    box-sizing: border-box;
    display: flex !important;
    flex-direction: row;
    flex-flow: row wrap;
    flex: 1 1 1e-9px;
    place-content: flex-start space-between; /* note: shorthand for align-content: flex-start; justify-content: space-between */
    align-items: flex-start;

    @media screen and (max-width: myF.bp(afl_medium_just_before))
    {
      *:not(:last-child) {
        margin-right: 0;
      }
    }
    @media screen and (min-width: myF.bp(afl_medium))
    {
      *:not(:last-child) {
        margin-right: 20px; /* when wider, add in a layout gap */
      }
    }
}

.home-top-left {
 /* Retired flex-layout items:
    fxFlex.lt-md="100%" fxFlex.md="calc(66% - 20px)" fxFlex.gt-md="calc(70% - 20px)" fxLayout="column" fxLayoutAlign="space-between stretch" */
  flex-direction: column !important;
  place-content: stretch space-between; /* note: shorthand for align-content: stretch; justify-content: space-between */
  align-items: stretch;

  @media screen and (max-width: myF.bp(afl_medium_just_before))
  {
    width: 100%;
  }
  @media screen and (min-width: myF.bp(afl_medium)) and (max-width: myF.bp(afl_large_just_before)) {
    width: calc(66% - 20px);
  }
  @media screen and (min-width: myF.bp(afl_large)) {
    width: calc(70% - 20px);
  }
}

.home-top-right {
  /*  fxFlex.lt-md="100%" fxFlex.md="33%" fxFlex.gt-md="30%" simplified to: fxFlex.lt-md="100%" fxFlex.gt-sm="33%"  */
  @media screen and (max-width: myF.bp(afl_medium_just_before))
  {
    width: 100%;
  }
  @media screen and (min-width: myF.bp(afl_medium)) and (max-width: myF.bp(afl_large_just_before)) {
    width: 33%;
  }
  @media screen and (min-width: myF.bp(afl_large)) {
    width: 30%;
  }
}

.home-bottom-simple {
  /* fxLayout="column" fxLayoutAlign="space-between stretch" */
  flex-direction: column !important;
  place-content: stretch space-between;
  align-items: stretch;
}

.home-bottom-complex {
  /* fxLayout="row wrap" fxLayoutAlign="space-between start" but leaving off fxLayoutGap.lt-md="0" fxLayoutGap="calc(20px)" */
  box-sizing: border-box;
  display: flex !important;
  flex-flow: wrap; /* apparently this defines: flex-direction of row and flex-wrap of wrap */
  place-content: flex-start space-between;
  align-items: flex-start;
}

.home-bottom-complex-first {
  /* fxFlex.lt-md="100%" fxFlex.md="calc(66% - 20px)" fxFlex.gt-md="calc(70% - 20px)"
      fxLayout="column" fxLayoutAlign="space-between stretch" */
  flex-direction: column !important;
  box-sizing: border-box;
  place-content: stretch space-between;
  align-items: stretch;

  @media screen and (max-width: myF.bp(afl_medium_just_before))
  {
    min-width: 100%;
    flex: 1 1 100%;
  }
  @media screen and (min-width: myF.bp(afl_medium)) and (max-width: myF.bp(afl_large_just_before)) {
    min-width: calc(66% - 20px);
    flex: 1 1 calc(66% - 20px);
    margin-right: 20px;
  }
  @media screen and (min-width: myF.bp(afl_large)) {
    min-width: calc(70% - 20px);
    flex: 1 1 calc(70% - 20px);
    margin-right: 20px;
  }
}

.home-bottom-complex-second {
  /* fxFlex.lt-md="100%" fxFlex.md="33%" fxFlex.gt-md="30%" */
  flex-direction: row;
  display: flex !important;
  box-sizing: border-box;

  @media screen and (max-width: myF.bp(afl_medium_just_before))
  {
    flex: 1 1 100%;
    max-width: 100%;
  }
  @media screen and (min-width: myF.bp(afl_medium)) and (max-width: myF.bp(afl_large_just_before)) {
    flex: 1 1 33%;
    max-width: 33%;
  }
  @media screen and (min-width: myF.bp(afl_large)) {
    flex: 1 1 30%;
    max-width: 30%;
  }
}

.home-item-100 {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.home-item-max-width-limit {
  width: 100%;
  max-width: 800px;
}

.maker-directory__bottom-row {
    margin-top: myF.em(10);
}

/* Homepage */
.welcome-paragraph {
    @include myGlobals.source-sans-semi-bold;

    background: myF.color(secondary);
    color: #fff;
    font-size: 1.2rem;
    padding: myF.em(15);

    @media screen and (min-width: myF.bp(afl_medium) ) {
        margin: myF.em(0) myF.em(0) myF.em(10) myF.em(0); /* top right bottom left */
    }

}

.welcome-paragraph__stories {
    @include myGlobals.source-sans-bold;

    font-size: 2rem;
}

.biographies { /* note: sized bigger on this page than the grid of biographies at historymakers.component.scss */
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* the "1fr" makes all rows equal height; e.g., see stackoverflow.com/questions/44488357/equal-height-rows-in-css-grid-layout */
  grid-auto-rows: 1fr;
  gap: myF.gutter(thmda-tight);

  /* For widths between thmda_narrow (which is less than afl_small) and afl_small, be 2 per row */
  @media screen and (min-width: myF.bp(thmda_narrow)) and (max-width: myF.bp(afl_small_just_before)) {
    grid-template-columns: repeat(2, 1fr);
    gap: myF.gutter(thmda-medium);
  }

  /* For widths between afl_small and thmda_wideenough, be 3 per row */
  @media screen and (min-width: myF.bp(afl_small)) and (max-width: myF.bp(thmda_wideenough_just_before)) {
    grid-template-columns: repeat(3, 1fr);
    gap: myF.gutter(thmda-medium);
  }

  /* For widths between thmda_wideenough and afl_medium, be 4 per row */
  @media screen and (min-width: myF.bp(thmda_wideenough)) and (max-width: myF.bp(afl_medium_just_before)) {
    grid-template-columns: repeat(4, 1fr);
    gap: myF.gutter(thmda-medium);
  }

  /* For widths between afl_medium and afl_large, be 3 per row (due to sharing a column of info in the horizontal space) */
  @media screen and (min-width: myF.bp(afl_medium)) and (max-width: myF.bp(afl_large_just_before)) {
    grid-template-columns: repeat(3, 1fr);
    gap: myF.gutter(thmda-medium);
  }

  /* With maximum of thmda_maxwidth, afl_large < thmda_maxwidth < afl_xlarge < xlarge, simply max out now at afl_large or greater...
     For widths of afl_large or more, be 5 per row: */
  @media screen and (min-width: myF.bp(afl_large)) {
    grid-template-columns: repeat(4, 1fr);
    gap: myF.gutter(thmda-big);
  }
}

.biography {
  padding: 0;
  margin: 0;
}

.homepage__heading {
    @include myGlobals.oswald;

    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
    color: black;

    @media screen and (min-width: myF.bp(afl_small)) and (max-width: myF.bp(afl_medium_just_before)) {
        font-size: 1.6rem;
    }

    @media screen and (min-width: myF.bp(afl_medium)) {
        font-size: 1.8rem;
    }
}

.extra-margin-whitespace {
    margin-bottom: myF.em(24);

    @media screen and (min-width: myF.bp(afl_small)) and (max-width: myF.bp(afl_medium_just_before)) {
        margin-bottom: myF.em(25);
    }
}

.birthdays__empty-message {
  @include myGlobals.source-sans-semi-bold;

  color: myF.color(dark-grey);
  font-size: 1.2rem;

  @media screen and (min-width: myF.bp(afl_medium)) {
      font-size: 1.4rem;
  }
}



