
@import '../shared/theme/base';

p.bold {
    font-weight: bold;
}

.page-title {
    @extend %oswald;

    font-size: rem(18);
    font-weight: 500;
    line-height: em(22, 18);
    margin-bottom: 15px;
    margin-top: 0;
    text-transform: uppercase;

    @media screen and (min-width: bp(medium)) {
        font-size: rem(22);
         margin-bottom: em(16); // was em(58,22);
    }

    @media screen and (min-width: bp(large)) {
        font-size: rem(26);
        margin-bottom: em(18); // was em(58,26);
    }
}

.search {
    @extend %source-sans;

    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    margin-bottom: em(37);

    @media screen and (min-width: bp(medium)) {
        margin-bottom: em(60);
    }

}

.search__submit {
    @extend %source-sans-semi-bold;

    align-items: center;
    background-color: color(primary);
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: em(20, 16);
    height: em(43, 16);
    justify-content: center;
    letter-spacing: .5px;
    order: 4;
    text-transform: uppercase;
    transition: box-shadow .15s ease-in-out;
    width: 100%;

    @media screen and (min-width: bp(small)) {
        font-size: em(16);
        margin-left: auto;
        width: em(156, 16);
    }

    &:hover {
        box-shadow: inset 0 0 5px rgba(51,51,51,.6);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .4;
    }
}

.search__submit-icon {
    height: em(16, 16);
    margin-left: 8px;
    width: auto;
}

.search__rpp-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: em(17);
    width: 100%;

    @media screen and (min-width: bp(small)) {
        margin-bottom: initial;
        max-width: em(290);
    }

}

.search__res-per-pg {
    align-self: flex-end;
    display: inline-block;
}

.search__res-per-pg-button {
    @extend %source-sans;

    align-items: center;
    background-color: color(light-grey);
    border-radius: 0;
    border: 1px solid #cccccc;
    color: #333333;
    display: flex;
    font-size: 1rem;
    height: em(30);
    justify-content: space-between;
    padding: 0 em(10);
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;

    &[aria-expanded="true"] {
        background-color: color(grey);
        box-shadow: inset 0 0 5px rgba(51,51,51,.5);
    }

    @media screen and (min-width: bp(medium)) {
        font-size: rem(16);
    }

    @media screen and (min-width: bp(large)) {
        font-size: rem(18);
    }
}

.input-dropdown {
    display: flex;
    margin-right: auto;
    margin-bottom: em(17);
    width: 100%;

    @media screen and (min-width: bp(small)) {
        margin-bottom: em(12);
    }

}

.input-dropdown__input {
    @extend %source-sans;

    border-top: 1px solid color(grey);
    border-left: 1px solid color(grey);
    border-bottom: 1px solid color(grey);
    border-right: 0;
    border-radius: 0;
    color: color(dark-grey);
    font-size: em(16);
    flex: 2;
    height: em(43, 16);
    padding-left: em(9, 16);

    @media screen and (min-width: bp(medium)) {
        padding-left: em(26, 16);
    }

    @media screen and (min-width: bp(medium)) {
        font-size: em(18);
        height: em(43, 18);
        padding-left: em(26, 18);
    }

    &:focus {
        border-top: 1px solid color(dark-grey);
        border-left: 1px solid color(dark-grey);
        border-bottom: 1px solid color(dark-grey);
        outline: 0;
    }

    &:focus + .dropdown .input-dropdown__button {
        border-top: 1px solid color(dark-grey);
        border-right: 1px solid color(dark-grey);
        border-bottom: 1px solid color(dark-grey);
    }

    // opacity used to override Firefox default value for placeholders
    &::placeholder {
        color: #999;
        opacity: 1;
        text-transform: capitalize;
    }
}

.input-dropdown__button {
    @extend %source-sans;

    background-color: #fff;
    border: 1px solid color(grey);
    border-radius: 0;
    color: color(dark-grey);
    height: em(43, 16);
    font-size: em(16);
    text-transform: capitalize;
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
    width: em(144, 16);

    &[aria-expanded="true"] {
        background-color: color(grey);
        box-shadow: inset 0 0 5px rgba(51,51,51,.5);
    }

    @media screen and (min-width: bp(small)) {
        width: em(148, 16);
    }

    @media screen and (min-width: bp(large)) {
        height: em(43, 18);
        font-size: em(18);
        width: em(156, 18);
    }


}

.dropdown-menu {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0;
}

.dropdown__option {
    background: none;
    border: none;
    cursor: arrow;
    font-size: em(16);
    line-height: em(26, 16);
    padding: 0 em(17, 16);
    text-transform: capitalize;


    &:hover {
        background: transparent;
        color: color(primary);
    }
}

/* Increase space between checkbox and its text */
label input {
    margin-right: 5px;
}

input {
    color: #1E1810;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

/* Courtesy of http://stackoverflow.com/questions/306252/how-to-align-checkboxes-and-their-labels-consistently-cross-browsers
*/
input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    top: -3px;
}

/* Use noBreak class on outer label enclosing a checkbox to keep label and checkbox on same line.
*/
.noBreak {
    white-space: nowrap;
    font-size: 1em;
    font-weight: normal;
    color: #1E1810;
}

.push-to-left {
    padding-left: 0em;
}
