<h1 id="mmainHeader" [thdaIsFocused]="signalFocusToTitle" tabindex="-1" class="page-title mobile-only" (mousedown)="noMouseFocus($event)">{{simpleSearchPageTitle}}</h1>
<h1 id="dmainHeader" [thdaIsFocused]="signalFocusToTitle" tabindex="-1" class="page-title desktop-only" (mousedown)="noMouseFocus($event)">{{simpleSearchPageTitleLong}}</h1>
<div class="myFlexRowContainer">
  <div class="myFlexChild">
      <!-- Search Form (capped at a max width in container div) -->
      <search-form #mySearchForm [showFieldOptions]="true" [showAdvancedSearchLink]="true" ></search-form>
  </div>
</div>
