<!-- NOTE: stamp view leading to route of form /story/ID, e.g., "['/story/' + story.storyID]"
Because this stamp may be nested at different points within a page, either at an h3 level or an h4 level,
gate which is used by the overrideToH4Nesting flag. -->
<a tabindex="0" role="link" [ngClass]="{'card': cardView(),'list':!cardView()}"
  [routerLink]="queryForTranscript ? ['/story/' + story().storyID, {q: queryForTranscript}] : ['/story/' + story().storyID]"
  routerLinkActive="active"
  [thdaScrollToMe]="isSelected(story().storyID)">
  @if (cardView()) {
    <div class="card_img-backdrop">
      <img class="card__img" src="{{myMediaBase}}story/image/{{story().storyID}}" alt="" />
    </div>
  }
  @if (cardView()) {
    <div class="card__info-overlay">
      @if (!overrideToH4Nesting()) {
        <h3 class="card__story-title">{{truncatedAsNeeded(story().title)}}</h3>
      }
      @if (overrideToH4Nesting()) {
        <h4 class="card__story-title">{{truncatedAsNeeded(story().title)}}</h4>
      }
      <p class="card__story-duration">
        {{convertToMMSS(story().duration)}}
      </p>
    </div>
  }
  @if (!cardView()) {
    <div class="card_img-label">
      @if (!overrideToH4Nesting() && (!highlights || !highlights.title)) {
        <h3 class="list__name">{{truncatedAsNeeded(story().title)}}</h3>
      }
      @if (!overrideToH4Nesting() && highlights && highlights.title) {
        <h3 class="list__name" [innerHTML]="highlights.title"></h3>
      }
      @if (overrideToH4Nesting() && (!highlights || !highlights.title)) {
        <h4 class="list__name">{{truncatedAsNeeded(story().title)}}</h4>
      }
      @if (overrideToH4Nesting() && highlights && highlights.title) {
        <h4 class="list__name" [innerHTML]="highlights.title"></h4>
      }
      <p class="list__contents">Length: {{convertToMMSS(story().duration)}}</p>
      @if (!hideInterviewDate()) {
        <p class="list__storydate">Interview Date: {{makeDatePretty(story().interviewDate)}}</p>
      }
      @if (highlights && highlights.transcript) {
        <div>
          @for (transcript of highlights.transcript; track $index) {
            <span
            class="list__contents" [innerHTML]="transcript"></span>
          }
        </div>
      }
    </div>
  }
</a>

